<!DOCTYPE html>
<html lang="cs">
<%- include('templates/head') %>
<body class="body-2">
  <section class="instagramad wf-section" id="igAd">
    <div class="adtext">Dejte nám follow na našem Instagramu: <a href="https://www.instagram.com/taborstrelka/" target="_blank" class="adtextlink"><span class="adtextbold">@taborstrelka</span></a>
    </div>
    <img src="img/close.svg" id="adCloseBtn" loading="lazy" data-w-id="0e30239d-2374-8502-0b16-9fd40ab5b913" alt="X" class="adclose">
  </section>
  <%- include('templates/navbar') %>
  <div class="section wf-section">
    <h1 class="h1">Tábor<br>Střelka</h1>
    <img src="img/Camping.png" loading="lazy" data-w-id="8a046694-8bc7-72b8-8161-be995019407e" alt="Stan a strom" class="image-15">
    <img src="img/Evergreen-tree.png" loading="lazy" data-w-id="caee9c49-dea5-0b87-5901-a1fb9d17af58" alt="Strom" class="image-18">
    <img src="img/Tent.png" loading="lazy" data-w-id="921e33f8-33c3-9a57-a383-736f958aacbd" alt="Stan" class="image-17">
    <img src="img/tabor_dron_crop.webp" loading="lazy" width="570" height="336" alt="" class="image">
    <img src="img/Compass.png" loading="lazy" alt="Kompas" class="image-16">
  </div>
  <div class="section-2 wf-section">
    <p class="paragraph">Náš tábor každoročně vyrůstá na louce u obce Zblovice, vedle řeky Želetavky přímo <a href="https://goo.gl/maps/sDs4RYVq1NCPmYdWA" target="_blank" class="link-4">tady</a>. Trávíme s dětmi dva prázdninové týdny v klasických stanech s dřevěnou podsadou bez elektřiny. Pitnou vodu na pití, vaření a hygienu každodenně dovážíme z nedalekého zdroje a stejně tak čerstvé potraviny z místního obchodu. Dětem je poskytována pravidelná strava formou snídaní, svačin, obědů, večeří a samozřejmostí je dodržování pitného režimu.</p>
  </div>
  <div class="section-3 wf-section">
    <h1 class="h5">Něco málo o nás</h1>
    <p class="paragraph leftaligntext">Tábor Střelka vznikl v roce 2006. První dva roky jsme jezdili na louku do Čučic, následně do Senorad a poté jsme si našli louku u Zblovic, kam jezdíme dodnes. Vždy jsme byli malý, až rodinný tábor do 30 dětí s pár vedoucími kteří dělají svoji práci na táboře ve volném čase s vizí zajistit dětem přes léto méně digitální zábavu a zároveň je i naučit aspoň částečně fungovat v přírodě a chovat se ohleduplně k životnímu prostředí.</p>
  </div>
  <div class="section-4 wf-section">
    <img src="img/Deciduous-tree.png" loading="lazy" data-w-id="acc29d6a-4651-e9be-0d70-6db70ff479b4" alt="Strom" class="image-21">
    <img src="img/tabor23_dron.webp" loading="lazy" width="664" sizes="(max-width: 767px) 100vw, 664px" alt="" class="image-12">
    <img src="img/Herb.png" loading="lazy" data-w-id="d7e112db-aeb7-fa34-0a24-838793cb5d13" alt="Rostlina" class="image-20">
  </div>
  <div class="section-5 wf-section">
    <h1 class="h2">Co vědět před přihláškou?</h1>
    <img src="img/Shamrock.png" loading="lazy" alt="Čtyřlístek" class="image-22">
    <p class="paragraph leftaligntext">Tábory jsou zpravidla pro děti od první třídy ZŠ do deváté třídy ZŠ (cca 7-15let). Starší děti je nutné individuálně prokonzultovat s hlavním vedoucím tábora.<br><br>Registrace zájemců přijímáme od vyhlášení termínu tábora (zpravidla to bývá Leden) do konce Dubna na níže uvedenou e-mailovou adresu.<br><br>Cena pro jedno dítě je <span id="price" class="pricetext">x</span> Kč<br><br>Dítě i s jeho zavazadly je nutno na tábor dovézt.</p>
    <img src="img/Compass.png" loading="lazy" alt="Kompas" class="image-23">
    <img src="img/Tent.png" loading="lazy" alt="Stan" class="image-24">
  </div>
  <div class="section-6 wf-section">
    <h1 class="h2">Ubytování, hygiena</h1>
    <p class="paragraph leftaligntext">Děti bydlí ve stanech s dřevěnou podsadou a nepromokavými plachtami. Stany jsou vždy pro dvě děti, součástí je i polička pro odložení veškerých zavazadel.<br><br>Hygiena je zajištěna mobilní sprchou do které se vždy před umytím ohřeje voda. Děti mají možnost osvěžit se v řece Želetavce.</p>
    <img src="img/Evergreen-tree-2.png" loading="lazy" data-w-id="2d59aa22-ab65-dd94-3ed4-5768593e82ac" alt="Strom" class="image-25">
    <img src="img/Camping.png" loading="lazy" alt="Stan a strom" class="image-26">
  </div>
  <%#- include('templates/form.ejs') %> <!-- Opening tag should be a without "#" -->
  <section class="mapsection wf-section">
    <div class="html-embed w-embed w-iframe">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1876.6202417363204!2d15.690307709493363!3d48.95629347404594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470d4bcb23af79b9%3A0xd5fe60bcc0a6e92e!2zVMOhYm9yIFN0xZllbGth!5e1!3m2!1scs!2scz!4v1688988034362!5m2!1scs!2scz" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </section>
  <%- include('templates/footer.ejs') %>
  <%- include('templates/scripts.ejs') %>
</body>
</html>