<!DOCTYPE html>
<html lang="cs">
<%- include('templates/head') %>
<body class="body">
  <%- include('templates/navbar') %>
  <div class="section-7 wf-section">
    <h1 class="h2">Dokumenty ke stažení</h1>
    <p class="paragraph">Tady najdete dokumenty které se vám budou hodit pokud chcete vaše dítě poslat na náš tábor.</p>
  </div>
  <div class="download-section wf-section">
    <div class="div-block-4">
      <h6 class="h6">PŘED PŘIHLÁŠKOU</h6>
      <div class="div-block-3">
        <h3 class="h3">L1- Registrace zájemců o přihlášení</h3>
        <a href="docs/list1_registrace_zajemcu_o_prihlaseni_na_tabor_2024.pdf" target="_blank" class="doc-link w-inline-block"><img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27"></a>
      </div>
    </div>
  </div>
  <div class="download-section wf-section">
    <div class="div-block-4">
      <h6 class="h6">POKUD UŽ VÍTE ŽE VAŠE DÍTĚ POJEDE</h6>
      <div class="div-block-5">
        <div class="div-block-3">
          <h3 class="h3">L2 - Nástupní list</h3>
          <a href="docs/list2_nastupni_list.pdf" target="_blank" class="doc-link w-inline-block"><img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27"></a>
        </div>
        <div class="div-block-3">
          <h3 class="h3">L3 - Upozornění rodičů zdravotníkovi</h3>
          <a href="docs/list3_upozorneni_rodicu_taborovemu_zdravotnikovi.pdf" target="_blank" class="doc-link w-inline-block"><img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27"></a>
        </div>
        <div class="div-block-3">
          <h3 class="h3">L4 - Určení osoby oprávněné dle zák. o zdravotních službách</h3>
          <a href="docs/4_Urceni_osoby_opravnene_dle_zakona_o_zdravotnich_sluzbach.pdf" target="_blank" class="doc-link w-inline-block"><img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27"></a>
        </div>
        <div class="div-block-3">
          <h3 class="h3">L5 - Souhlas se zpracováním osobních údajů</h3>
          <a href="docs/5_Souhlas_se_zpracovanim_osobnich_udaju.pdf" target="_blank" class="doc-link w-inline-block"><img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27"></a>
        </div>
        <div class="div-block-3">
          <h3 class="h3">L6 - Posudek o zdravotní způsobilosti dítěte</h3>
          <a href="docs/6_Posudek_o_zdravotni_zpusobilosti_ditete.pdf" target="_blank" class="doc-link w-inline-block"><img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="download-section wf-section">
    <div class="div-block-4">
      <h6 class="h6">Dobré si pročíst</h6>
      <div class="div-block-5">
        <div class="div-block-3">
          <h3 class="h3">L7 - Pokyny pro účastníky tábora</h3>
          <a href="docs/Pokyny_pro_ucastniky_tabora.pdf" target="_blank" class="doc-link w-inline-block"><img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27"></a>
        </div>
        <div class="div-block-3">
          <h3 class="h3">L8 - Táborový řád</h3>
          <a href="docs/list8_taborovy_rad.pdf" target="_blank" class="doc-link w-inline-block"><img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27"></a>
        </div>
      </div>
    </div>
  </div>
  <%- include('templates/footer.ejs') %>
  <%- include('templates/scripts.ejs') %>
</body>
</html>