<!DOCTYPE html>
<html lang="cs">
<%- include('templates/head') %>
<body class="body">
  <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-2 w-nav">
    <div class="container-2 w-container">
      <nav role="navigation" class="nav-menu-2 w-nav-menu">
        <a href="/" data-w-id="e3f9fef1-c3b5-a0f9-d9d9-8ebb62d4d169" class="nav-link w-nav-link">Domů</a>
        <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
          <div class="nav-link w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div>Fotky</div>
          </div>
          <nav class="dropdown-list w-dropdown-list">
            <a href="https://photos.app.goo.gl/wTNbAUuJBNiX5cUx5" target="_blank" class="dropdown-link w-dropdown-link">2014</a>
            <a href="https://photos.app.goo.gl/capFwQHv5c8UEjmi8" target="_blank" class="dropdown-link w-dropdown-link">2015</a>
            <a href="https://photos.app.goo.gl/jN9kXmwG1VPP2t6Z7" target="_blank" class="dropdown-link w-dropdown-link">2020</a>
            <a href="https://photos.app.goo.gl/32a78YcsF8HTup9g7" target="_blank" class="dropdown-link w-dropdown-link">2021</a>
            <a href="https://photos.app.goo.gl/99pVz1VQfo1zAfHf7" target="_blank" class="dropdown-link w-dropdown-link">2022</a>
            <a href="https://photos.app.goo.gl/86Y1DvZ6JmzxhWHL6" target="_blank" class="dropdown-link w-dropdown-link">2023</a>
          </nav>
        </div>
        <a href="/ke-stazeni" data-w-id="e3f9fef1-c3b5-a0f9-d9d9-8ebb62d4d16d" aria-current="page" class="nav-link w-nav-link w--current">Ke stažení</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="section-7 wf-section">
    <h1 class="h2">Dokumenty ke stažení</h1>
    <p class="paragraph">Tady najdete dokumenty které se vám budou hodit pokud chcete vaše dítě poslat na náš tábor.</p>
  </div>
  <div class="download-section wf-section">
    <div class="div-block-4">
      <h6 class="h6">PŘED PŘIHLÁŠKOU</h6>
      <div class="div-block-3">
        <h3 class="h3">Registrace zájemců o přihlášení</h3>
        <a href="docs/1_Registrace_zajemcu_o_prihlaseni.pdf" target="_blank" class="doc-link w-inline-block"><img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27"></a>
      </div>
    </div>
  </div>
  <div class="download-section wf-section">
    <div class="div-block-4">
      <h6 class="h6">POKUD UŽ VÍTE ŽE VAŠE DÍTĚ POJEDE</h6>
      <div class="div-block-5">
        <div class="div-block-3">
          <h3 class="h3">Nástupní list</h3>
          <a href="docs/2_Nastupni_list.pdf" target="_blank" class="doc-link w-inline-block"><img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27"></a>
        </div>
        <div class="div-block-3">
          <h3 class="h3">Upozornění rodičů zdravotníkovi</h3>
          <a href="docs/3_Upozorneni_rodicu_taborovemu_zdravotnikovi.pdf" target="_blank" class="doc-link w-inline-block"><img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27"></a>
        </div>
        <div class="div-block-3">
          <h3 class="h3">Určení osoby oprávněné dle zák. o zdravotních službách</h3>
          <a href="docs/4_Urceni_osoby_opravnene_dle_zakona_o_zdravotnich_sluzbach.pdf" target="_blank" class="doc-link w-inline-block"><img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27"></a>
        </div>
        <div class="div-block-3">
          <h3 class="h3">Souhlas se zpracováním osobních údajů</h3>
          <a href="docs/5_Souhlas_se_zpracovanim_osobnich_udaju.pdf" target="_blank" class="doc-link w-inline-block"><img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27"></a>
        </div>
        <div class="div-block-3">
          <h3 class="h3">Posudek o zdravotní způsobilosti dítěte</h3>
          <a href="docs/6_Posudek_o_zdravotni_zpusobilosti_ditete.pdf" target="_blank" class="doc-link w-inline-block"><img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="download-section wf-section">
    <div class="div-block-4">
      <h6 class="h6">dOBRÉ SI PROČÍST</h6>
      <div class="div-block-5">
        <div class="div-block-3">
          <h3 class="h3">Pokyny pro účastníky tábora</h3>
          <a href="docs/Pokyny_pro_ucastniky_tabora.pdf" target="_blank" class="doc-link w-inline-block"><img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27"></a>
        </div>
        <div class="div-block-3">
          <h3 class="h3">Táborový řád</h3>
          <a href="docs/_Taborovy_rad.pdf" target="_blank" class="doc-link w-inline-block"><img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27"></a>
        </div>
      </div>
    </div>
  </div>
  <%- include('templates/footer.ejs') %>
  <%- include('templates/scripts.ejs') %>
</body>
</html>