<!DOCTYPE html>
<html lang="cs">
<%- include('templates/head') %>
<body class="body">
  <%- include('templates/navbar') %>
  <div class="section-7 wf-section">
    <h1 class="h2">Dokumenty ke stažení</h1>
    <p class="paragraph">Tady najdete dokumenty které se vám budou hodit pokud chcete vaše dítě poslat na náš tábor.</p>
  </div>
  <div class="download-section wf-section">
    <div class="div-block-4">
      <h6 class="h6">První krok</h6>
      <!--
      <div class="fullListWarning">
        <p class="paragraph warning">Vemte prosím na vědomí že pro rok 202X je počet dětí naplněn. Zasláním vyplněné registrace se zařadíte do seznamu případných náhradníků.</p>
      </div>
      -->
      <a class="div-block-3" href="javascript:void(0);" target="_blank">
        <h3 class="h3">L1- Registrace zájemců o přihlášení</h3>
        <img src="img/download_grey.svg" loading="lazy" width="48" alt="Download" class="image-27">
      </a>
    </div>
  </div>
  <div class="download-section wf-section">
    <div class="div-block-4">
      <h6 class="h6">Tyto dokumenty nám přivezete na tábor</h6>
      <div class="div-block-5">
        <a class="div-block-3" href="javascript:void(0);" target="_blank">
          <h3 class="h3">L2 - Nástupní list</h3>
          <img src="img/download_grey.svg" loading="lazy" width="48" alt="Download" class="image-27">
        </a>
        <a class="div-block-3" href="javascript:void(0);" target="_blank">
          <h3 class="h3">L3 - Upozornění rodičů zdravotníkovi</h3>
          <img src="img/download_grey.svg" loading="lazy" width="48" alt="Download" class="image-27">
        </a>
        <a class="div-block-3" href="javascript:void(0);" target="_blank">
          <h3 class="h3">L4 - Určení osoby oprávněné dle zák. o zdravotních službách</h3>
          <img src="img/download_grey.svg" loading="lazy" width="48" alt="Download" class="image-27">
        </a>
        <a class="div-block-3" href="javascript:void(0);" target="_blank">
          <h3 class="h3">L5 - Souhlas se zpracováním osobních údajů</h3>
          <img src="img/download_grey.svg" loading="lazy" width="48" alt="Download" class="image-27">
        </a>
        <a class="div-block-3" href="javascript:void(0);" target="_blank">
          <h3 class="h3">L6 - Posudek o zdravotní způsobilosti dítěte</h3>
          <img src="img/download_grey.svg" loading="lazy" width="48" alt="Download" class="image-27">
        </a>
      </div>
    </div>
  </div>
  <div class="download-section wf-section">
    <div class="div-block-4">
      <h6 class="h6">Co si sebou vzít a jak se na táboře chovat</h6>
      <div class="div-block-5">
        <a class="div-block-3" href="docs/list7_pokyny_pro_ucastniky_tabora.pdf" target="_blank">
          <h3 class="h3">L7 - Pokyny pro účastníky tábora</h3>
          <img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27">
        </a>
        <a class="div-block-3" href="docs/list8_taborovy_rad.pdf" target="_blank">
          <h3 class="h3">L8 - Táborový řád</h3>
          <img src="img/download.svg" loading="lazy" width="48" alt="Download" class="image-27">
        </a>
      </div>
    </div>
  </div>
  <%- include('templates/footer.ejs') %>
  <%- include('templates/scripts.ejs') %>
</body>
</html>