<div class="footer wf-section">
    <div class="container-4 w-container">
      <div class="footer-block">
        <h3 class="heading">Kontaktní informace</h3>
        <div class="div-block">
          <div class="contact-item">
            <img src="img/Phone-Telephone-Call.png" loading="lazy" width="24" height="24" alt="Phone icon">
            <a href="tel:+420602488834" class="link">+420 602 488 834</a>
          </div>
          <div class="contact-item">
            <img src="img/Mail-Inbox-Envelope-Open.png" loading="lazy" width="24" height="24" alt="Mail icon">
            <a href="mailto:b.podana@seznam.cz?subject=T%C3%A1bor%20St%C5%99elka" class="link">b.podana@seznam.cz</a>
          </div>
          <div class="contact-item">
            <img src="img/Shopping-Business-Building-Office.png" loading="lazy" width="24" height="24" alt="Office icon">
            <p class="paragraph-2">Mackovice 23, 671 78</p>
          </div>
          <div class="contact-item">
            <img src="img/bi_instagram.svg" loading="lazy" width="24" height="24" alt="">
            <a href="https://www.instagram.com/taborstrelka/" target="_blank" class="link">@taborstrelka</a>
          </div>
        </div>
      </div>
      <div class="footer-block">
        <h3 class="heading">Fakturační údaje</h3>
        <div class="div-block">
          <div class="contact-item">
            <p class="paragraph-2">IČO: 05145368</p>
          </div>
          <div class="contact-item">
            <p class="paragraph-2">Bankovní účet: 2401014090/2010</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-5 w-container">
      <div class="div-block-2">
        <a href="/" aria-current="page" class="footer-link w--current">Domů</a>
        <a href="/ke-stazeni" class="footer-link">Ke stažení</a>
      </div>
      <a href="https://zdenda.xyz" target="_blank" class="link-2">Zdeněk Podaný © 2023</a>
    </div>
  </div>