<div class="navbar-2 w-nav" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner">
    <div class="container-2 w-container">
        <nav role="navigation" class="nav-menu-2 w-nav-menu">
            <a href="/" data-w-id="e3f9fef1-c3b5-a0f9-d9d9-8ebb62d4d169" aria-current="page" class="nav-link w-nav-link w--current">Domů</a>
            <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
                <div class="nav-link w-dropdown-toggle">
                    <div class="w-icon-dropdown-toggle"></div>
                    <div>Fotky</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                    <a href="https://photos.app.goo.gl/6Z4tCcbMZf8gxxHr6" target="_blank" class="dropdown-link w-dropdown-link">2008</a>
                    <a href="https://photos.app.goo.gl/Jooyi4PgwUxZwrEZ6" target="_blank" class="dropdown-link w-dropdown-link">2012</a>
                    <a href="https://photos.app.goo.gl/wTNbAUuJBNiX5cUx5" target="_blank" class="dropdown-link w-dropdown-link">2014</a>
                    <a href="https://photos.app.goo.gl/capFwQHv5c8UEjmi8" target="_blank" class="dropdown-link w-dropdown-link">2015</a>
                    <a href="https://photos.app.goo.gl/jN9kXmwG1VPP2t6Z7" target="_blank" class="dropdown-link w-dropdown-link">2020</a>
                    <a href="https://photos.app.goo.gl/32a78YcsF8HTup9g7" target="_blank" class="dropdown-link w-dropdown-link">2021</a>
                    <a href="https://photos.app.goo.gl/99pVz1VQfo1zAfHf7" target="_blank" class="dropdown-link w-dropdown-link">2022</a>
                    <a href="https://photos.app.goo.gl/86Y1DvZ6JmzxhWHL6" target="_blank" class="dropdown-link w-dropdown-link">2023</a>
                </nav>
            </div>
            <a href="/ke-stazeni" data-w-id="e3f9fef1-c3b5-a0f9-d9d9-8ebb62d4d16d" class="nav-link w-nav-link">Ke stažení</a>
        </nav>
        <div class="menu-button w-nav-button">
            <div class="icon w-icon-nav-menu"></div>
        </div>
    </div>
</div>